

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<div class="col-sm-6">

  <div class="card">

    <h4 class="card-header">Calculo CDB</h4>

    <div class="card-body">

      <form [formGroup]="form" (ngSubmit)="processar()">
        <div class="mb-3">
          <label class="form-label">Valor</label>
          <input type="text" pattern="[0-9]*" formControlName="valor" class="form-control" step="0.01" min="0" />
        </div>
        <div class="mb-3">
          <label class="form-label">Mês</label>
          <input type="number" pattern="[0-9]*" formControlName="mes" class="form-control" min="1" />
        </div>
        <div>
          <button class="btn btn-success">
            Processar
          </button>
        </div>
      </form>

    </div>

    <div *ngIf="calc" class="card-body">

      <div class="mb-3">
        <label class="form-label">Valor Bruto: {{ calc.valorBruto | currency:'BRL':true }}</label>
      </div>

      <div class="mb-3">
        <label class="form-label">Valor Liquido {{ calc.valorLiquido | currency:'BRL':true }}</label>
      </div>

    </div>

  </div>

</div>
