


<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started.</em></p>

<!--<table *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>

<tr></tr>-->


<div class="col-sm-6">

  <div class="card">

    <h4 class="card-header">Calculo CDB</h4>

    <div class="card-body" *ngIf="!calc">

      <form [formGroup]="form" (ngSubmit)="processar()">
        <div class="mb-3">
          <label class="form-label">Valor</label>
          <input type="text" formControlName="valor" class="form-control"  />
        </div>
        <div class="mb-3">
          <label class="form-label">Mês</label>
          <input type="text" formControlName="mes" class="form-control" />
        </div>
        <div>
          <button class="btn btn-success">
            Processar
          </button>
        </div>
      </form>

    </div>

    <div *ngIf="calc" class="card-body">

      <div class="mb-3">
        <label class="form-label">Valor Bruto: {{ calc.valorBruto | currency:'BRL':true }}</label>
      </div>

      <div class="mb-3">
        <label class="form-label">Valor Liquido {{ calc.valorLiquido | currency:'BRL':true }}</label>
      </div>

    </div>

  </div>

</div>
